%h1 
   Admin Dashboard

.row.btn-toolbar
   = link_to 'Users Index', users_path, class: [:'toolbar-button'], id: :top
   = link_to 'Roles Index', roles_path, class: [:'toolbar-button'], id: :top
   = link_to 'Areas Index', areas_path, class: [:'toolbar-button'], id: :top
  
.container-fluid
   .row-fluid
      .span2
      = render 'dashboard/create_user'
