%h1 
   Admin Dashboard

.row
   = link_to 'Users Index', users_path, class: [:btn, "btn-large", "btn-success", :right], id: :top
  
.container-fluid
   .row-fluid
      .span2
      = render 'dashboard/create_user'

%h3
   =@message 
   

   
  
