%h1 
   Admin Dashboard

.row.btn-toolbar
   = link_to 'Users', users_path, class: [:'toolbar-button'], id: :top
   = link_to 'Roles', roles_path, class: [:'toolbar-button'], id: :top
   = link_to 'Areas', areas_path, class: [:'toolbar-button'], id: :top
  
.container-fluid
   .row-fluid
      .span2
      = render 'dashboard/create_user'
