.row
  = link_to 'See Family', household_path(@household), class: [:btn, "btn-success", 'col-sm-3', 'col-md-2'], id: :back, method: :get
.col-sm-12
  .panel.panel-pimary
    .panel-body
      %h1 
        New Person
        %br
      = render 'form'
