= link_to 'See Family', household_path(@household), class: [:btn, "btn-success", "btn-large"], id: :back, method: :get
.col-sm-12
  .panel.panel-pimary
    .panel-body
      %h1 
        New Person
        %br
      = render 'form'
