= form_for(@path) do |f|
  .row
    %h2
      Foods Eaten

    %h4.explain
      Don't push enter to search - it will cause problems

  .row{id: 'add_food_eaten'}
    = render partial: 'consumed_food', collection: @interview.consumed_foods
  .row
    .text-control
      %input{type: :'search', placeholder: :'Search for food', id: :'consumed_food_search', class: [:'text-field']}
    %input{type: 'button', value: 'Search!', class: [:'button-emphasis', :'col-sm-2']}
  .row
    #display

  .row
    = f.submit 'Submit', class: [:'submit']
