%h1
  Interviews

%table
  - @interviews.each do |interview|
    %tr
      %td
      %td
        = link_to 'Show', interview
      %td
        = link_to 'Edit', edit_interview_path(interview)
      %td
        = link_to 'Destroy', interview, method: :delete, data: { confirm: 'Are you sure?' }

<br />

= link_to 'New Interview', new_household_interview_path(@household)
