.container
  - if @interview.errors.any?
    .row
      %ul.col-xs-12.col-md-6
      - @interview.errors.full_messages.each do |error|
        %li
          = error
      
  .row
    %h1
      New Interview

  = render 'form'

  .row
    = link_to 'Back', household_interviews_path(@household)
