- if @interview.errors.any?
  %ul
  - @interview.errors.full_messages.each do |error|
    %li
      = error
    
%h1
  New Interview

= render 'form'

= link_to 'Back', household_interviews_path(@household)
