= link_to 'Back', households_path, class: :button, id: :back, method: :get
%h1
  = @user.name + 'User edit'

.col-sm-12
  .panel.panel-pimary
    .panel-body
      = render 'form'
      %h1
        Users#edit
      %p
        Find me in app/views/users/edit.html.erb
