= link_to 'Users', users, class: [:btn, "btn-success", "btn-large"], id: :back, method: :get
%h1 
  New user
.col-sm-12
  .panel.panel-pimary
    .panel-body
      = render 'form'
      %h1
        Users#new
      %p
        Find me in app/views/users/new.html.erb
