.row
  %h1
    = @user.email


.row.btn-toolbar.main
  = link_to 'Add Role', new_user_role_path(@user), class: [:btn, "btn-large", "btn-success", "col-sm-offset-8", "col-md-offset-10", "col-sm-4", "col-md-2", :right]
.row.main
  %h2
    Roles:
  - @user.roles.each do |role|
    %label{class: "col-sm-2"}
      = role.name

.row.btn-toolbar.main
  = link_to 'Add Role', new_user_role_path(@user), class: [:btn, "btn-large", "btn-success", "col-sm-offset-8", "col-md-offset-10", "col-sm-4", "col-md-2", :right]
