<div id="banner-wrapper">
	<header>
	<h1> Welcome to SRA </h1>
	<h2> 
		Self Reliance + Sustainable Farming + Lasting impact 
	</h2>
	<p>&nbsp;</p>
	<%= link_to 'Login', "/users/signin", class: :button %>
	</header>

</div>
<p>&nbsp;</p>


<article>

<h1>
	About us



</h1>
<p>&nbsp;</p>

<p>
Feed The World + The Institute for Self Reliant Agriculture (SRA) empowers poor smallholder farm families to feed themselves and provide for the future through sustainable farming. Our in-country nutritionists, agronomists, and animal scientists work hand in hand with smallholder farm families as they develop the skills that will allow them to be independent for life. Rather than giving a handout, Feed the World + SRA nurtures self-sufficiency through our unique small-scale agricultural model. Take a moment to learn, connect, and give. Help us feed the world today!
</p>
<p>&nbsp;</p>

<a href="#" class="button">donate</a>

</article>
