%h1
  Roles

.row
  .col-sm-12
    = link_to 'New Role', new_role_path, class: [:btn, "btn-large", "btn-success", :right]

- @roles.each do |role|
  .row
    = role.name

.row
  .col-sm-12
    = link_to 'New Role', new_role_path, class: [:btn, "btn-large", "btn-success", :right]
