// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-theme";

h1, h2, h3, h4, h5, h6, h7 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #6b7770;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h7 a {
	text-decoration: none;
	color: inherit;
}

h1 {
	margin-top: 5%;
	text-align: center;
	border-bottom: solid 5px #e7eae8;
	margin-bottom: 1%;
	padding-bottom: 3%;
	font-size: 60px;
	width: 80%;
	margin-left: 10%;
}

.panel h3 
{
	text-align: center;
}

body
{
	background:#f2f5f3;
}

a:visited
{
	color: #fff;
}

nav
{
	/*  top: 0; left: 0;*/
	background: #FFFFFF;
	padding-left: 15%;
	font-size: large;
	line-height: 40px;
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	z-index: 1;
}

nav a:link {
	font-weight: 700;
	font-size: larger;
	color: #555454;
}

nav li
{
	color: #2D2D2D;
	display: inline;
}

nav li a
{
	float: left;
	padding: 2% 2% 3% 2%;
	margin-top: -1%;
	border-radius: 8px;
	display: block;
	color: #555454 !important;
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

nav li a:hover{
	color: #FFFFFF !important;
	background-color: #B4B4B4;
	-moz-transition: border-color .2s ease-in-out, color .2s
	ease-in-out;
	-webkit-transition: border-color .2s ease-in-out, color .2s
	ease-in-out;
	-o-transition: border-color .2s ease-in-out, color .2s
	ease-in-out;
	-ms-transition: border-color .2s ease-in-out, color
	.2s ease-in-out;
	transition: border-color .2s ease-in-out, color
	.2s ease-in-out;
	text-decoration: none;
}

nav li a.active, nav li a.active:hover{
	line-height: 63px;
	color: #fff;

}

.right
{
	float: right;
}

.panel-primary
{
	border: none;
}

.panel-primary > .panel-heading
{
	background-image: linear-gradient(to bottom, #9ba69e 0%, #9ba69e 100%);
	border-bottom: none;
}

.panel-primary > .panel-body
{
	background-image: linear-gradient(to bottom, #f9fbfa 0%, #f9fbfa 100%);
	color: #6b7770;
}

.panel-primary > .full-panel
{
	border-radius: 8px;
}

.panel-body .btn
{
	padding: 6% 10%;
}

.btn-success
{
	display: inline-block;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: larger;
	text-transform: uppercase;
	text-decoration: none;
	background: #629A35;
	color: #fff;
	border-radius: 8px;
	padding: 1% 3% 1% 3%;
	outline: 0;
	-moz-transition: background-color .2s ease-in-out; 
	-webkit-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out; 
	-ms-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;

}

.btn-success:hover
{
	background: #2B760D;

}

.btn-success-alt
{
	background: #c1cac5;
}

.btn-success-alt:hover
{
	background: #ccd5d0;
}

@media only screen and (min-width: 1250px)
{

	.panel-body .btn
	{
		padding: 2% 9%;
		margin-right: 3%;
	}
}
