#banner-wrapper
{
	@extend .jumbotron;
}

.main
{
	@extend .container;
}

.footer
{
	text-align: center;
}

@mixin button
{
	@extend .btn;
	border-radius: 0;
}

.button
{
	@include button;
	@extend .btn-default;
}

.button-emphasis
{
	@include button;
	@extend .btn-primary;
}

.button-large
{
	@extend .button-emphasis;
	@extend .btn-lg;
}

.submit
{
	@extend .button-large;

	@extend .col-xs-4;
	@extend .col-sm-3;
	@extend .col-md-2;

	margin-top: 10px;
}

.call-to-action
{
	@extend .button-large;
}

.text-control
{
	@extend .col-xs-9;
	@extend .col-sm-10;
}

.text-field
{
	@extend .form-control
}

label
{
	@extend .text-right;
	@extend .col-xs-3;
	@extend .col-sm-2;
}
