%footer.col-sm-12.col-md-offset-4
	&copy; SRA | Images: 
	= link_to 'Fotogrph', "http://fotogrph.com" 
	+
	= link_to 'Iconify.it', "http://iconify.it"
	| Design: 
	= link_to 'HTML5 Up!', "http://html5up.net/"
	| highly edited by Luke Brewer
	| Powered by Nutritionix

