= form_for(@household) do |f|
  .row
    = f.label :name, class: :'col-sm-2'
    = f.text_field :name, class: [:textfield, :'col-sm-8', :'col-md-9']
  .row
    = f.submit 'Submit', class: [:'submit']
