%h1 
  Households
.row
  .col-sm-12
    = link_to 'New Household', new_household_path, class: [:btn, "btn-large", "btn-success", :right]
%br

= households_grid @households

.row
  .col-sm-12
    = link_to 'New Household', new_household_path, class: [:btn, "btn-large", "btn-success", :right], method: :get

