%h1 
  Households
  
.row
  
  = link_to 'New Household', new_household_path, class: [:btn, "btn-large", "btn-success", :right], id: :top
%br

= render 'household_list'

.row
  
  = link_to 'New Household', new_household_path, class: [:btn, "btn-large", "btn-success", :right], id: :bottom

