= link_to 'Households', households_path, class: [:btn, "btn-success", "btn-large"], id: :back, method: :get
%h1 
  New household
.col-sm-12
  .panel.panel-pimary
    .panel-body
      = render 'form'
